<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="saucedmoProject.pages.ExtentReportManager"/>
    </listeners>
    <test verbose="2" preserve-order="true" name="F:/Project/src/main/java/saucedmoProject/pages/LoginTest.java">
        <classes><class name="saucedmoProject.pages.LoginTest">
            <methods>
                <include name="verifyLogin"/>
                <include name="testProductFilteringLowToHigh"/>
                <include name="testAddToCart"/>
                <include name="testCheckoutProcess"/>
            </methods>
        </class></classes>
    </test>
    <test verbose="2" preserve-order="true" name="F:/Project/src/main/java/saucedmoProject/pages/TestListenersClass.java">
        <classes/>
    </test></suite>